* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wittgenstein', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aa4e2a;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensures items are spaced apart */
    align-items: center; /* Centers items vertically */
    padding: 10px 20px;
    background-color: #1e3347;
}

.logo {
    width: 100px;
    height: auto;
}



.btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #1e3347;
}

.valorant-logo {
    height: 20rem;
}

header .logo {
    width: 100px;
    height: auto;
}

.hero {
    width: 100%;
    text-align: center;
    margin: 50px auto;
    background-color: #d6d6d6;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 50px;
}

.features {
    width: 100%;
    padding: 50px 20px;
    background-color: #dcdcdcfa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.feature-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-box {
    background-color: #f53535;
    width: 25rem;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature-icon {
    width: 20rem;
    height: auto;
    margin-bottom: 20px;
}

.feature-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 1em;
    color: #ffffff;
}

@media (max-width: 768px) {
    .feature-box {
        width: 100%;
        margin: 10px 0;
    }
}